
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg ,#FA3415,#FFF348,#0C51DD,#000E00);
    height: 100vh;
}

#resultado{
    color: white;
    text-align: right;
    font-size: 4em;
    margin-top: 40px;
    margin-bottom: 12px;
    padding-right: 30px;
}

#content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);
    width: 300px;
    height: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding-bottom: 20px;

}

table {
    margin: auto;
}

.botao{
    background-color: rgb(39, 39, 39);
    color: white;
    height: 60px;
    width: 60px;
    border-color: none;
    border-radius: 100%;
    border: none;
    font-size: 1.3em;
    margin: 2px;
}
.diferente{
    font-size: 1em;
    background-color: grey;
    color: black;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 1.3em;
    margin: 2px;
}
.outro{
    font-size: 1.3em;
    background-color: orange;
    color: black;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 2px;
} 

.espaco{
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    height: 60px;
    width: 121px;
    font-size: 1.3em;
    border-radius: 27px;
    margin: 2px;
}